.DS_Store
*.pyc
starfish.egg-info/
*.ipynb_checkpoints
.coverage
.coverage.*
.mypy_cache/
.pytest_cache/
build/
dist/
.venv/
.eggs/
docs/source/usage/data_formatting_examples/
docs/source/usage/data_processing_examples/
docs/source/creating_an_image_processing_pipeline/tutorials/
.idea/
.git/
.hg/
