include REQUIREMENTS.txt
include starfish/REQUIREMENTS-STRICT.txt
recursive-include sptx_format/schema/ *.json
recursive-include sptx_format/examples/ *.json
include versioneer.py
include starfish/_version.py
