include REQUIREMENTS.txt
include starfish/REQUIREMENTS-STRICT.txt
recursive-include starfish/spacetx_format/schema/ *.json
recursive-include starfish/spacetx_format/examples/ *.json
include versioneer.py
