# You should not edit this file directly.  Instead, you should edit one of the following files (REQUIREMENTS-DEV.txt.in REQUIREMENTS.txt.in) and run make REQUIREMENTS-DEV.txt
alabaster==0.7.11
apipkg==1.5
appnope==0.1.0
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
backcall==0.1.0
bleach==2.1.4
certifi==2018.8.24
chardet==3.0.4
click==6.7
cloudpickle==0.5.6
CommonMark==0.5.4
coverage==4.5.1
cycler==0.10.0
dask==0.19.2
decorator==4.3.0
defusedxml==0.5.0
diskcache==3.0.6
docutils==0.14
entrypoints==0.2.3
execnet==1.5.0
flake8==3.5.0
flake8-import-order==0.18
html5lib==1.0.1
idna==2.7
imagesize==1.1.0
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.12.1
Jinja2==2.10
jsonpath-rw==1.4.0
jsonschema==2.6.0
jupyter-core==4.4.0
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.3
mccabe==0.6.1
mistune==0.8.3
more-itertools==4.3.0
mypy==0.630
mypy-extensions==0.4.1
nbconvert==5.4.0
nbencdec==0.0.7
nbformat==4.4.0
networkx==2.1
numpy==1.15.1
packaging==17.1
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
pluggy==0.7.1
ply==3.11
prompt-toolkit==1.0.15
ptyprocess==0.6.0
py==1.6.0
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.2.0
pyparsing==2.2.1
pytest==3.8.0
pytest-cov==2.6.0
pytest-forked==0.2
pytest-xdist==1.23.0
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==1.0.0
PyYAML==3.13
recommonmark==0.4.0
regional==1.1.2
requests==2.20.0
scikit-image==0.14.0
scikit-learn==0.19.2
scipy==1.1.0
seaborn==0.9.0
semantic-version==2.6.0
showit==1.1.4
simplegeneric==0.8.1
six==1.11.0
slicedimage==1.0.1
snowballstemmer==1.2.1
Sphinx==1.8.0
sphinx-rtd-theme==0.4.1
sphinxcontrib-websupport==1.1.0
testpath==0.3.1
toolz==0.9.0
tqdm==4.26.0
trackpy==0.4.1
traitlets==4.3.2
typed-ast==1.1.0
urllib3==1.23
validators==0.12.2
wcwidth==0.1.7
webencodings==0.5.1
xarray==0.10.8
