# The following requirement is here because botocore restricts the version of python-dateutil (see
# https://github.com/boto/botocore/commit/e87e7a745fd972815b235a9ee685232745aa94f9).  Since pip is
# not a full dependency solver, it has already installed python-dateutil before botocore is
# installed, and bombs after the fact.
python-dateutil < 2.8.1
click
dataclasses;python_version<"3.7"
jsonschema
matplotlib
numpy != 1.13.0
pandas >= 0.23.4
regional
semantic_version
# 0.16.[012] are excluded because https://github.com/scikit-image/scikit-image/pull/3984 introduced
# a bug into max peak finder.  0.16.3 presumably will have the fix from
# https://github.com/scikit-image/scikit-image/pull/4263.
scikit-image >= 0.14.0, != 0.16.0.*, != 0.16.1.*, != 0.16.2.*
scikit-learn
scipy
showit >= 1.1.4
slicedimage==4.1.0
sympy
tqdm
trackpy
validators
xarray
ipywidgets
