click
jsonschema
matplotlib
numpy != 1.13.0
pandas >= 0.23.4
pycodestyle==2.4.0
pytest>=3.6.3
requests
semantic_version
scikit-image>=0.14.0
scikit-learn
scipy
seaborn
showit >= 1.1.4
slicedimage == 1.0.1
scikit-learn
sympy
tqdm
trackpy
validators
xarray
flake8
flake8-import-order
ipywidgets
jsonpath_rw
m2r
pytest-cov>=2.5.1
pytest-xdist
mypy
nbencdec >= 0.0.5
recommonmark
sphinx
sphinx_rtd_theme
