# requirements.in
scikit-image>=0.21
# napari 0.4.18 made point sizes only isotropic: https://forum.image.sc/t/anisotropic-point-sizes/83388
napari[all]>0.4.17
xarray
slicedimage
seaborn
jupyter
semantic_version
trackpy
h5py
read_roi
showit
scikit-learn
sympy
validators
regional
