# You should not edit this file directly.  Instead, you should edit one of the following files (REQUIREMENTS.txt.in) and run make REQUIREMENTS.txt
atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.8.24
chardet==3.0.4
click==6.7
cloudpickle==0.5.6
cycler==0.10.0
dask==0.19.2
decorator==4.3.0
diskcache==3.0.6
idna==2.7
jsonschema==2.6.0
kiwisolver==1.0.1
matplotlib==2.2.3
more-itertools==4.3.0
networkx==2.1
numpy==1.15.1
packaging==17.1
pandas==0.23.4
Pillow==5.2.0
pluggy==0.7.1
py==1.6.0
pycodestyle==2.3.1
pyparsing==2.2.1
pytest==3.8.0
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==1.0.0
PyYAML==3.13
regional==1.1.2
requests==2.19.1
scikit-image==0.14.0
scikit-learn==0.19.2
scipy==1.1.0
seaborn==0.9.0
semantic-version==2.6.0
showit==1.1.4
six==1.11.0
slicedimage==1.0.1
toolz==0.9.0
tqdm==4.26.0
trackpy==0.4.1
urllib3==1.23
validators==0.12.2
xarray==0.10.8
