# You should not edit this file directly.  Instead, you should edit one of the following files (REQUIREMENTS.txt) and run make REQUIREMENTS-STRICT.txt
appnope==0.1.0
backcall==0.1.0
bleach==3.1.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cloudpickle==0.8.0
cycler==0.10.0
dask==1.1.1
decorator==4.3.2
defusedxml==0.5.0
diskcache==3.1.1
entrypoints==0.3
idna==2.8
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.2
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.4.0
MarkupSafe==1.1.0
matplotlib==2.1.2
mistune==0.8.4
mpmath==1.1.0
nbconvert==5.4.1
nbformat==4.4.0
networkx==2.2
notebook==5.7.4
numpy==1.16.1
packaging==19.0
pandas==0.24.1
pandocfilters==1.4.2
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
prometheus-client==0.5.0
prompt-toolkit==2.0.8
ptyprocess==0.6.0
Pygments==2.3.1
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
PyWavelets==1.0.1
PyYAML==4.2b4
pyzmq==17.1.2
regional==1.1.2
requests==2.21.0
scikit-image==0.14.2
scikit-learn==0.20.2
scipy==1.2.1
semantic-version==2.6.0
Send2Trash==1.5.0
showit==1.1.4
six==1.12.0
slicedimage==2.0.0
sympy==1.3
terminado==0.8.1
testpath==0.4.2
toolz==0.9.0
tornado==5.1.1
tqdm==4.31.1
trackpy==0.4.1
traitlets==4.3.2
urllib3==1.24.1
validators==0.12.4
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
xarray==0.11.3
