/*
footer {
  background-color: red;
}
*/

div.body {
  max-width: 100%;
}

.content {
  padding-bottom: 46px;
}

/* Make navbar blue */
.navbar-default {
  background-color: #2c3e50;
  border-color: transparent;
}

/* Change hover and focus color to green */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #18bc9c;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #18bc9c;
  background-color: transparent;
}

/* Increase size of html_logo */
.navbar-brand span img{
  height: 40px;
  position: relative;
  top: -10px;
}

/* For collapsible code snippets */
.toggle .header {
    display: block;
    clear: both;
}

.toggle .header:after {
    content: " ▶";
}

.toggle .header.open:after {
    content: " ▼";
}

/* For landing page banner */
.jumbotron{
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Explicit role for interpreted text intended for title on landing page dark background
 Usage: :white:`text to be styled` in rST. */
.jumbotron h1 {
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 39px;
    font-style: italic;
    font-weight: 400;
    color: white;
}
