# requirements to run CI except for napari
flake8
flake8-import-order
m2r2
mypy != 0.740
numpydoc
nbencdec >= 0.0.5
pycodestyle
pytest>=4.4.0
pytest-cov>=2.5.1
pytest-xdist
read_roi
recommonmark
requests
types-pkg_resources
types-PyYAML
types-requests
seaborn
sphinx
sphinx_autodoc_typehints
sphinx_bootstrap_theme
sphinxcontrib-programoutput
sphinx-gallery
sphinx_rtd_theme
twine
