# You should not edit this file directly.  Instead, you should edit one of the following files (requirements/REQUIREMENTS-NAPARI-CI.txt.in) and run make requirements/REQUIREMENTS-NAPARI-CI.txt
alabaster==0.7.12
appdirs==1.4.4
argon2-cffi==21.1.0
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
bleach==4.1.0
boto3==1.18.37
botocore==1.21.37
cachey==0.2.1
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.1
cloudpickle==1.6.0
cycler==0.10.0
dask==2021.10.0
dataclasses==0.6
debugpy==1.4.1
decorator==4.4.2
defusedxml==0.7.1
diskcache==5.2.1
docstring-parser==0.10
docutils==0.17.1
entrypoints==0.3
freetype-py==2.2.0
fsspec==2021.8.1
h5py==3.4.0
HeapDict==1.0.1
hsluv==5.0.2
idna==3.2
imageio==2.9.0
imagesize==1.2.0
iniconfig==1.1.1
ipykernel==6.3.1
ipython==7.27.0
ipython-genutils==0.2.0
ipywidgets==7.6.4
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==7.0.2
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.1
kiwisolver==1.3.2
locket==0.2.1
magicgui==0.2.10
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mistune==0.8.4
mpmath==1.2.1
napari==0.4.11
napari-console==0.0.4
napari-plugin-engine==0.1.9
napari-svg==0.1.5
nbclient==0.5.4
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.2
notebook==6.4.3
numpy==1.21.2
numpydoc==1.1.0
packaging==21.0
pandas==1.3.2
pandocfilters==1.4.3
parso==0.8.2
partd==1.2.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
Pint==0.17
pluggy==1.0.0
prometheus-client==0.11.0
prompt-toolkit==3.0.20
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pycparser==2.20
pydantic==1.8.2
Pygments==2.10.0
PyOpenGL==3.1.5
pyparsing==2.4.7
PyQt5==5.14.2
PyQt5-sip==12.9.0
pyrsistent==0.18.0
pytest==6.2.5
pytest-qt==4.0.2
python-dateutil==2.8.2
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.2.1
qtconsole==5.1.1
QtPy==1.11.0
read-roi==1.6.0
regional==1.1.2
requests==2.26.0
s3transfer==0.5.0
scikit-image==0.18.3
scikit-learn==0.24.2
scipy==1.7.1
semantic-version==2.8.5
Send2Trash==1.8.0
setuptools==56.0.0
showit==1.1.4
six==1.16.0
slicedimage==4.1.1
snowballstemmer==2.1.0
Sphinx==4.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
superqt==0.2.3
sympy==1.5.1
terminado==0.12.1
testpath==0.5.0
threadpoolctl==2.2.0
tifffile==2021.8.30
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.62.2
trackpy==0.5.0
traitlets==5.1.0
typing-extensions==3.10.0.2
urllib3==1.26.6
validators==0.18.2
vispy==0.8.1
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xarray==0.19.0
