# requirements to run CI except for napari
# constrain the CI requirements to packages already in REQUIREMENTS-STRICT.txt
-r ../starfish/REQUIREMENTS-STRICT.txt
build
flake8
flake8-import-order
# temporarily limiting mypy as 1.11 introduces errors
mypy<1.11
nbencdec>=0.0.5
pytest>=4.4.0
pytest-cov>=2.5.1
pytest-xdist
twine
types-PyYAML
types-requests
