# You should not edit this file directly.  Instead, you should edit one of the following files (requirements/REQUIREMENTS-CI.txt.in) and run make requirements/REQUIREMENTS-CI.txt
alabaster==0.7.12
argon2-cffi==21.1.0
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
bleach==4.1.0
boto3==1.18.37
botocore==1.21.37
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
commonmark==0.9.1
coverage==5.5
cryptography==3.4.8
cycler==0.10.0
dataclasses==0.6
debugpy==1.4.1
decorator==4.4.2
defusedxml==0.7.1
diskcache==5.2.1
docutils==0.16
entrypoints==0.3
execnet==1.9.0
flake8==3.9.2
flake8-import-order==0.18.1
h5py==3.4.0
idna==3.2
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==4.8.1
iniconfig==1.1.1
ipykernel==6.3.1
ipython==7.27.0
ipython-genutils==0.2.0
ipywidgets==7.6.4
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==7.0.2
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.1
keyring==23.1.0
kiwisolver==1.3.2
m2r2==0.3.1
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
mpmath==1.2.1
mypy==0.910
mypy-extensions==0.4.3
nbclient==0.5.4
nbconvert==6.1.0
nbencdec==0.0.10
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.2
notebook==6.4.3
numpy==1.21.2
numpydoc==1.1.0
packaging==21.0
pandas==1.3.2
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
pkginfo==1.7.1
pluggy==1.0.0
prometheus-client==0.11.0
prompt-toolkit==3.0.20
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
Pygments==2.10.0
pyparsing==2.4.7
pyrsistent==0.18.0
pytest==6.2.5
pytest-cov==2.12.1
pytest-forked==1.3.0
pytest-xdist==2.3.0
python-dateutil==2.8.2
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.2.1
read-roi==1.6.0
readme-renderer==29.0
recommonmark==0.7.1
regional==1.1.2
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
s3transfer==0.5.0
scikit-image==0.18.3
scikit-learn==0.24.2
scipy==1.7.1
seaborn==0.11.2
SecretStorage==3.3.1
semantic-version==2.8.5
Send2Trash==1.8.0
setuptools==56.0.0
showit==1.1.4
six==1.16.0
slicedimage==4.1.1
snowballstemmer==2.1.0
Sphinx==4.1.2
sphinx-autodoc-typehints==1.12.0
sphinx-bootstrap-theme==0.7.1
sphinx-gallery==0.9.0
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-programoutput==0.17
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sympy==1.5.1
terminado==0.12.1
testpath==0.5.0
threadpoolctl==2.2.0
tifffile==2021.8.30
toml==0.10.2
tornado==6.1
tqdm==4.62.2
trackpy==0.5.0
traitlets==5.1.0
twine==3.4.2
types-pkg-resources==0.1.3
types-PyYAML==5.4.10
types-requests==2.25.6
typing-extensions==3.10.0.2
urllib3==1.26.6
validators==0.18.2
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
xarray==0.19.0
zipp==3.5.0

